<p id="notice"><%= notice %></p>

<p>
  <b>Query:</b>
  <%= @reittiopa.query %>
</p>

<p>
  <b>Result:</b>
  <%= @reittiopa.result %>
</p>


<%= link_to 'Edit', edit_reittiopa_path(@reittiopa) %> |
<%= link_to 'Back', reittiopas_path %>
